<link rel="stylesheet" href="signup.css">
<div class="devise-contents">
  <h2 class="new-title">食券管理</h2>
  <%= form_with model: @user, url: user_registration_path, id:'new_user', class:'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, "名前" %><br />
      <%= f.text_field :name, placeholder: "名字を入力してください。", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :position , "担当" %><br />
      <%= f.text_field :position, placeholder: "count or check" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(半角英数字混合<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード再確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
</div>
